<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="car">
      <h2 data-cy="carDetailsHeading"><span jhiTranslate="myMonolightApp.car.detail.title">Car</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ car.id }}</span>
        </dd>
        <dt><span jhiTranslate="myMonolightApp.car.model">Model</span></dt>
        <dd>
          <span>{{ car.model }}</span>
        </dd>
        <dt><span jhiTranslate="myMonolightApp.car.carOwnerName">Car Owner Name</span></dt>
        <dd>
          <span>{{ car.carOwnerName }}</span>
        </dd>
        <dt><span jhiTranslate="myMonolightApp.car.yearOfCar">Year Of Car</span></dt>
        <dd>
          <span>{{ car.yearOfCar | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="myMonolightApp.car.color">Color</span></dt>
        <dd>
          <span>{{ car.color }}</span>
        </dd>
        <dt><span jhiTranslate="myMonolightApp.car.category">Category</span></dt>
        <dd>
          <span jhiTranslate="{{ 'myMonolightApp.Category.' + car.category }}">{{ car.category }}</span>
        </dd>
        <dt><span jhiTranslate="myMonolightApp.car.student">Student</span></dt>
        <dd>
          <div *ngIf="car.student">
            <a [routerLink]="['/student', car.student?.id, 'view']">{{ car.student?.name! }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/car', car.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
